.snackBar {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.snackBarMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
.title {
  width: 90%;
  position: relative;
  padding-top: 0%;
  text-align: center;
  flex-direction: column;
}
.uploadForm {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px 0px grey;
}
.bottoniModello {
  align-self: flex-end;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.bottoneColorato {
  margin: 0% 5%;
}
.modelButton {
  width: 200px;
}
.indexedStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepNumber1 {
  font-size: 1.2rem;
  margin-top: 50%;
}
.progressText {
  font-size: 0.9rem;
  margin-top: 20%;
  color: black;
  text-align: center;
}
.stepNumber2 {
  font-size: 1.2rem;
  margin-top: 60%;
  padding: 7%;
}
.stepNumber3 {
  font-size: 1.2rem;
  margin-top: 50%;
  padding: 5%;
}
.stepNumber4 {
  font-size: 1.2rem;
  margin-top: 45%;
  padding: 0%;
}

.titoloAlto {
  font-size: 2.4rem;
}

.loadingSection {
  padding: 10% 0%;
  width: 100%;
  align-items: center;
}

@media (max-width: 3000px) {
}
@media (max-width: 2560px) {
}
@media (max-width: 1600px) {
  .titoloAlto {
    font-size: 1.5rem;
  }

  .bottoniModello {
    display: inline-block;
  }
  .bottoneColorato {
    margin: 20px 0;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 850px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
