.footer {
  background-color: #e8e8e8;
  margin-top: 5%;
}

.tab {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 7%;
  margin-left: 1%;
  padding: 1%;
  font-family: 'Lato';
  font-size: 1em;
}
