@import url('https://fonts.googleapis.com/css?family=Lato');

.tab-abus {
  display: none;
}

.img-logoblue {
  margin-top: 6%;
  margin-left: 23%;
  width: 50%;
  height: auto; /* Utilizzare 'auto' per mantenere l'aspetto proporzionato su schermi più piccoli */
}

html {
  scroll-behavior: smooth;
}



.img-scritta {
  width: 50%;
  height: auto;
  margin-top: 3%;
  margin-left: 25%;
}
@media only screen and (max-width:2056px){
  body {
    background-image: url(/Sfondo.png);
    background-size: 50%;
    background-position: left 1500%;
    background-repeat: no-repeat;
    margin: 0;
}
}

@media only screen and (max-width:1920px){
  body {
    background-image: url(/Sfondo.png);
    background-size: 50%;
    background-position: left 600%;
    background-repeat: no-repeat;
    margin: 0;
}
}

@media only screen and (max-width:1440px){
  body {
    background-image: url(/Sfondo.png);
    background-size: 50%;
    background-position: left 235%;
    background-repeat: no-repeat;
    margin: 0;
}
}

@media only screen and (max-width:1024px){
  body {
    background-image: url(/Sfondo.png);
    background-size: 50%;
    background-position: left 170%;
    background-repeat: no-repeat;
    margin: 0;
}
}


/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .img-logoblue {
    margin-top: 0%;
    margin-left: 5%;
    width: 90%;
  }
  .img-scritta {
    margin-left: 5%;
    width: 90%;
  }
  body {
    background-image: none; /* Rimuovi lo sfondo solo su schermi più piccoli */
  }
  .img-scritta {
    width: 100%; /* Occupa la larghezza massima disponibile */
    max-width: 80%; /* Limita la larghezza massima al 80% dello schermo */
    margin-left: 10%; /* Riduci il margine sinistro */
  }
}

.tasto-au {
  font-size: 1.5em;
  margin-top: 5%;
  height: 50%;
  background-color: #2467d1;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 6px;
  margin-left: 45%;
  padding: 2% 4%;
}

/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .tasto-au {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%; /* Imposta la larghezza al 80% dello schermo */
    height: 50%; /* Imposta l'altezza automatica per ridurre l'altezza del tasto */
  }
}

.sez-testo {
  width: auto;
  margin-top: 5%;
  background-color: #2467d1;
  padding: 3%; /* Aumenta il padding per una migliore esperienza visiva */
}

.img-loghihome {
  margin-left: 6%;
  width: 90%; /* Imposta la larghezza al 90% dello schermo */
  height: auto;
}

/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .img-loghihome {
    display: none;
  }
}

/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .img-logoblue {
    margin-left: 5%; /* Riduci ulteriormente il margine sinistro */
  }
}

.paragrafi {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15%;
  margin: 1%;
  padding: 1%;
  font-family: 'Lato';
  font-size: 1.2em;
}

/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .paragrafi {
    grid-template-columns: 1fr; /* Una singola colonna su schermi più piccoli */
    gap: 5%; /* Riduci lo spazio tra le colonne su schermi più piccoli */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: center;
  }

  .paragrafi > * {
    font-size: 0.8em; /* Imposta una dimensione del testo più piccola su schermi più piccoli */
  }
}

.about-sup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7%;
  margin-left: 1%;
  padding: 1%;
  font-family: 'Lato';
  font-size: 1em;
  color: black;
}

/* Media query per schermi più piccoli */
@media only screen and (max-width: 768px) {
  .about-sup {
    display: none;
  }

  .tab-abus {
    width: 80%;
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    align-items: center;
  }

  .tab-abus .row {
    width: 100%;
    display: flex;
    margin-top: 5%;
  }

  .tab-abus td p {
    text-align: center;
  }

  .tab-abus td .ctxt {
    width: 50%;
  }

  .tab-abus td .cimg {
    width: 20%;
  }

  .tab-abus td .img {
    width: auto;
    height: auto;
  }
}

.sin {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 0fr 70%);
  gap: 4%;
}

.des {
  margin-top: 50%;
  display: grid;
  grid-template-columns: repeat(2, 0fr 70%);
  gap: 4%;
}

:root {
  --spazio: 50%;
}

.cen {
  margin-top: var(--spazio);
  display: grid;
  grid-template-columns: repeat(2, 0fr 70%);
  gap: 4%;
  margin-left: 0%;
}

.colonna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testo-white {
  color: #ffffff;
  text-decoration: none;
}

.img-quadr {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .img-quadr {
    display: none;
  }
}

.bho {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 0fr 70%);
  gap: 4%;
}

@media (max-width: 425px) {
  .tab-abus img {
    display: none;
  }
}
