@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  margin:0;
  padding:0;
  font-family: Lato;
}

.form{
  width:100%;
  height: 500px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.cardLogin{
  width:45%;
  height: 100%;
  background-color:#fff;
  border-radius:10px 0px 0px 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.form-header{
  width:100%;
  height: 20%;
  background-color:#2467d1;
  border-radius:10px 0 0 0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.form-header-title{
  color:#ffffff;
  font-size:36px;
  font-family: Lato;
}

.form-body{
  width:100%;
  height:90%;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.email{
  margin-bottom: 5%;
  height:40%;
}

.password{
  margin-bottom: 5%;
  height:40%;
}

.nome{
  margin-bottom: 5%;
  height: 20%;
}

.cognome{
  margin-bottom: 5%;
  height: 20%;
}

.emailr{
  margin-bottom: 5%;
  height: 20%;
}

.passwordr{
  margin-bottom: 5%;
  height: 20%;
}

.buttonsgupin{
  margin-top: 5%;
  height: 20%;
}

.buttonsgupin Button{
  width: 100%;
  background-color:#2467d1;
  font-family: Lato;
}

.img{
  width:55%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 0px 0px 0px 0px;
}

.img img{
  width:100%;
  height:100%;
  border-radius: 0px 0px 0px 0px;
}

/* For landscape phones and down */
@media (max-width: 425px) {
  .form {
    flex-direction: column-reverse;
  }

  .cardLogin{
     width:90%;
     height: 90%;
  }
 
  .form-header-title{
     font-size:24px;
  }
 
  .img {
    width: 70%;
  }
  .img img{
     width:100%;
     height:auto;
  }
}
 
/* For portrait phones and down */
@media (max-width: 375px) {
  .form {
    flex-direction: column-reverse;
  }

  .cardLogin{
     width:90%;
     height: 90%;
  }
}
 
 /* For smaller devices and down */
 @media (max-width: 320px) {
  .cardLogin{
     width:90%;
     height: 90%;
  }
 
  .form-header-title{
     font-size:18px;
  }
 
  .img img{
     width:100%;
     height:auto;
  }
 }