.app2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  padding: 50px;
}

.spacer {
  width: 100%;
  height: 20px;
}
.background-piani {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.row2 {
  flex: 1;
  display: flex;
}

.piani-section2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title2 {
  font-family: Lato;
  font-size: 56px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 90px;
  margin-left: 100px;
}

.slider-piani2 {
  overflow-x: scroll;
  display: flex;
  width: 1000px;
}

.slider-piani2::-webkit-scrollbar {
  height: 12px;
}

.slider-piani2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.slider-piani2::-webkit-scrollbar-thumb {
  background: #888;
}

.slider-piani2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slider2 {
  display: flex;
  width: 1000px;
}

.slide2 {
  flex: 0 0 250px;
  margin-right: 20px;
}
@media (max-width: 1500px) {
  .app2 {
    height: 100%;
  }
  .row2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .piani-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title2 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .slider-piani2 {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  .slider-piani2 {
    overflow-x: scroll;
    display: flex;
    width: 100%;
  }

  .slider-piani2::-webkit-scrollbar {
    height: 12px;
  }

  .slider-piani2::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .slider-piani2::-webkit-scrollbar-thumb {
    background: #888;
  }

  .slider-piani2::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .slider2 {
    display: flex;
    width: 100%;
  }

  .slide2 {
    flex: 0 0 40%;
    margin-right: 0px;
  }
}

/* For landscape phones and down */
@media (max-width: 430px) {
  .app2 {
    height: 100%;
  }
  .row2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .piani-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title2 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .slider-piani2 {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }

  .slider-piani2 {
    overflow-x: scroll;
    display: flex;
    width: 100%;
  }

  .slider-piani2::-webkit-scrollbar {
    height: 12px;
  }

  .slider-piani2::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .slider-piani2::-webkit-scrollbar-thumb {
    background: #888;
  }

  .slider-piani2::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .slider2 {
    display: flex;
    width: 100%;
  }

  .slide2 {
    flex: 0 0 100%;
    margin-right: 0px;
  }
}

/* For portrait phones and down */
@media (max-width: 375px) {
}

/* For smaller devices and down */
@media (max-width: 320px) {
}
