@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: Lato;
}

.navbar {
  background-color: #2467d1;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  padding-top: 0.7%;
  overflow: hidden;
}

.navbar li {
  padding-top: 1%;
  float: right;
}

.navbar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar a:hover {
  font-family: 'Lato';
  font-weight: bold;
  color: #ffffff;
}

.img-file {
  margin: 0;
  width: 14%;
  height: 14%;
}
.img-avatar {
  margin-bottom: 10%;
}
