html{
    height: 100%;
    width: 100%;
}

body {
    background-image: url('/Sfondo.png');
    background-size: 65%;
    background-position: left 80%;
    background-repeat: no-repeat;
    margin: 0; /* Rimuovere il margin predefinito del body */
  }

.titolo{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

